@font-face {
  font-family: "Kumbh";
  src: local("Kumbh"), url(./fonts/KumbhSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Kumbh";
  font-weight: 500;
  src: local("Kumbh"), url(./fonts/KumbhSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Kumbh";
  font-weight: 700;
  src: local("Kumbh"), url(./fonts/KumbhSans-Bold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kumbh;
}
